ADMIN_PASSWORD=dimas12
CREATOR=syzhensu
RATE=60
# Opsional (biar perubahan admin permanen di Vercel) - Upstash Redis gratis
UPSTASH_REDIS_REST_URL=https://rest-api-syzhensu.vercel.app
UPSTASH_REDIS_REST_TOKENhttps://rest-api-syzhensu.vercel.app
